/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 31, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 18, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 19, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 20, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 21, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 22, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.header-link {
  text-decoration: none;
  display: flex;
  color: white;
  padding-left: 10%;
}

/* line 38, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 26, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 28, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 30, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 32, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 34, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
header {
  background-color: #696969;
  /* justify-content: space-between; */
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  position: relative;
  text-decoration: none;
  /* min-height: 93px; */
}

/* line 50, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 39, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 42, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 45, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 48, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 51, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
nav.login-signup {
  padding-right: 10%;
  padding-top: 1em;
  text-decoration: none;
  color: lightblue;
  display: inline-block;
  float: right;
}

/* line 52, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 49, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 53, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 57, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 61, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 65, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
header a:link {
  text-decoration: none;
  text-transform: none;
  color: white;
  padding: 8px 10px;
  line-height: 46px;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  /* position: relative; */
}

/* line 64, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 62, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 67, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 72, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 77, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 82, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
body {
  background-color: ghostwhite;
  font-family: 'Ubuntu', sans-serif;
  min-width: 1008px;
  width: 100%;
  margin: 0;
}

/* line 72, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 71, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 77, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 83, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 89, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 95, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.login-form {
  margin: 0 auto;
  padding: 5em;
  background-color: white;
  width: 20em;
  text-align: center;
}

/* line 80, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 80, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 87, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 94, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 101, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 108, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
}

/* line 84, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 85, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 93, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 101, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 109, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 117, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
label {
  padding-bottom: 5px;
}

/* line 86, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 90, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 99, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 108, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 117, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 126, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input.login-input {
  margin: 5%;
  background-color: lightyellow;
  padding: 7px 0 7px 100px;
}

/* line 92, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 97, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 107, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 117, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 127, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 137, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input[type="submit"] {
  color: green;
}

/* line 99, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 102, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 113, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 124, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 135, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 146, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h4 {
  margin: 0 auto;
  text-align: center;
  padding-top: 8em;
}

/* line 105, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 109, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 121, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 133, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 145, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 157, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.header-name {
  padding-right: 10%;
  float: left;
  margin-top: 30px;
  color: white;
}

/* line 112, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 117, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 130, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 143, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 156, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 169, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
button.header-button {
  /* background-color: black; */
  /* color: white; */
  /* border-radius: 25%; */
  display: flex;
  background: white;
  margin: 0 auto;
  margin-left: 5px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  margin-top: 35px;
  margin-right: 10px;
}

/* line 127, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 133, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 147, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 161, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 175, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 189, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
hgroup.header-group {
  width: 25%;
  display: inline-block;
  float: right;
}

/* line 133, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 140, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 155, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 170, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 185, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 200, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
div#gigs-index {
  width: 75%;
  margin: 0 auto;
  margin-left: 250px;
}

/* line 139, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 147, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 163, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 179, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 195, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 211, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
#gigs-index ul {
  list-style: none;
  /* float: right; */
  background-color: aliceblue;
  display: flex;
  width: 100%;
  /* height: 50vh; */
  /* justify-content: space-between; */
  /* margin: 0 auto; */
  /* padding-left: 250px; */
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

/* line 154, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 163, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 180, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 197, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 214, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 231, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
#gigs-index ul li img {
  height: 130px;
  width: 222px;
  /* display: block; */
  /* border: solid gray 1px; */
}

/* line 161, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 171, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 189, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 207, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 225, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 243, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
#gigs-index ul li {
  /* display: inline-block; */
  width: 232px;
  height: 260px;
  margin: 0 20px 20px 0;
  padding: 0;
  /* vertical-align: middle; */
  float: left;
  border: 1px #e5e5e5 solid;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  /* transform: translateZ(0); */
  /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
  /* backface-visibility: hidden; */
  margin-right: 40px;
  cursor: pointer;
  /* border-radius: 5%; */
}

/* line 163, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 192, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 211, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 230, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 249, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 268, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.nav-items {
  list-style: none;
  padding-left: 5px;
}

/* line 168, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 198, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 218, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 238, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 258, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 278, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.nav-bar {
  background-color: lightcoral;
  width: 150px;
  height: 300px;
  margin-left: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  position: fixed;
}

/* line 170, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 210, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 231, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 252, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 273, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 294, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#gaming {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 171, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 219, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 241, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 263, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 285, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 307, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#design {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 172, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 228, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 251, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 274, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 297, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 320, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#web-dev {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 173, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 237, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 261, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 285, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 309, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 333, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#art {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 174, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 246, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 271, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 296, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 321, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 346, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#writing {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 2px 15px;
  display: flex;
  justify-content: center;
}

/* line 176, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 255, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 281, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 307, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 333, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 359, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
div.main-home img {
  width: 100%;
  height: 400px;
  margin: 5px;
  border: 1px solid black;
}

/* line 178, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 263, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 290, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 317, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 344, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 371, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h4.category-header {
  padding-top: 10px;
}

/* line 180, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 268, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 296, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 324, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 352, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 380, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h1.gig-title {
  margin-left: 100px;
  border-bottom: 1px solid lightgray;
  width: 500px;
}

/* line 186, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 275, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 304, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 333, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 362, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 391, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-pic {
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* margin-right: 0; */
  /* padding-right: 0; */
  width: 500px;
  float: left;
  border-bottom: 1px solid lightgray;
  padding-bottom: 100px;
}

/* line 199, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 289, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 319, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 349, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 379, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 409, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
div.gig-pic img {
  width: 500px;
  height: 350px;
}

/* line 207, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 295, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 326, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 357, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 388, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 419, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-show-container {
  width: 1000px;
  margin-left: -40px;
}

/* line 211, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 301, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 333, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 365, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 397, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 429, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul {
  list-style: none;
}

/* line 215, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 306, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 339, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 372, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 405, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 438, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-price-info {
  float: right;
  width: 300px;
  position: relative;
  margin-right: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

/* line 229, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 319, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 353, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 387, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 421, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 455, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-user-info {
  float: right;
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: aliceblue;
  margin: 10px;
}

/* line 231, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 332, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 367, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 402, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 437, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 472, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.purchase-button {
  border: 0;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}

/* line 245, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 347, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 383, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 419, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 455, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 491, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.logout {
  margin-top: 22px;
}

/* line 249, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 352, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 389, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 426, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 463, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 500, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.header-name {
  line-height: 50px;
}

/* line 253, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 357, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 395, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 433, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 471, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 509, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.new-gig-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  background-color: aliceblue;
  height: 1000px;
  margin-top: 90px;
  padding-left: 250px;
}

/* line 267, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 370, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 409, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 448, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 487, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 526, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.new-gig-form {
  display: flex;
  flex-direction: column;
}

/* line 272, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 376, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 416, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 456, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 496, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 536, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input.gig-field {
  display: block;
  margin: 0 20px 20px 20px;
  padding-right: 300px;
  padding-bottom: 10px;
  background-color: lightyellow;
}

/* line 280, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 385, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 426, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 467, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 508, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 549, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
textarea.gig-field {
  display: block;
  margin: 0 20px 20px 20px;
  padding-right: 275px;
  background-color: lightyellow;
  padding-bottom: 50px;
}

/* line 289, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 394, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 436, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 478, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 520, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 562, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.new-gig-form select {
  display: block;
  margin: 0 20px 20px 20px;
  padding: 5px;
  width: 100px;
}

/* line 298, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 402, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 445, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 488, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 531, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 574, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input.new-gig-button {
  margin-left: 200px;
  padding: 10px;
  color: green;
}

/* line 451, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 495, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 539, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 583, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
img.cart-img {
  width: 170px;
  float: left;
  height: 120px;
  border: 2px solid black;
}

/* line 456, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 502, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 548, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 593, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.cart-item-list {
  display: flex;
  flex-direction: column;
  float: left;
  width: 75%;
}

/* line 463, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 510, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 557, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 603, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.cart-item-list li {
  margin: 0;
  border: 2px solid #ccc;
  padding: 10px;
}

/* line 466, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 513, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 565, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 612, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
p.cart-description {
  float: left;
  width: 300px;
  margin-left: 30px;
  height: 100%;
}

/* line 470, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 519, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 574, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 622, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.rev {
  float: right;
  padding: 10px;
}

/* line 472, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 524, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 581, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 630, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.delivery_time {
  float: right;
  padding: 10px;
}

/* line 528, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 587, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 637, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.remove-cart {
  float: right;
  padding: 10px;
}

/* line 592, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 643, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.cart-detial-options {
  display: flex;
  float: right;
  flex-direction: column;
  align-items: flex-end;
}

/* line 599, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 651, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h3.cart-title {
  margin: 0;
}

/* line 603, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 656, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 50px;
  bottom: 100px;
  background-color: #BCADAD;
  padding: 20px;
  border-radius: 10px;
  color: blue;
  border: 1px solid blue;
}

/* line 610, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
/* line 671, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button {
  display: inline-block;
  margin: 10px 10px 0 0;
  font-size: 30px;
  padding: 0 10px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

/* line 683, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
button:focus {
  outline: none;
}

/* line 687, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button {
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #ff96hi64;
  background-image: -webkit-linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

/* line 697, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button:hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
  color: #1BED2C;
}

/* line 701, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button:active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

.right-side-checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
    float: right;
}

a.keep-shopping {
    color: white;
    background-color: #346392;
    padding: 20px;
    font-weight: 600;
    font-size: 18px;
}


a.keep-shopping:hover {
    background-image: -webkit-linear-gradient(bottom, #6496c8, #346392);
}
