/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 19, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.header-link {
  text-decoration: none;
  display: flex;
  color: white;
  padding-left: 10%;
}

/* line 26, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
header {
  background-color: #696969;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  position: relative;
  text-decoration: none;
}

/* line 38, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
nav.login-signup {
  padding-right: 10%;
  padding-top: 1em;
  text-decoration: none;
  color: lightblue;
  display: inline-block;
  float: right;
}

/* line 47, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
header a:link {
  text-decoration: none;
  text-transform: none;
  color: white;
  /* padding: 8px 10px; */
  line-height: 46px;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  align-self: center;
  margin-top: 0;
}

/* line 59, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
body {
  background-color: ghostwhite;
  font-family: 'Ubuntu', sans-serif;
  min-width: 1008px;
  width: 100%;
  margin: 0;
}

/* line 67, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.login-form {
  margin: 0 auto;
  padding: 5em;
  background-color: white;
  width: 20em;
  text-align: center;
}

/* line 75, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 80, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
label {
  padding-bottom: 5px;
}

/* line 84, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input.login-input {
  margin: 5%;
  background-color: lightyellow;
  padding: 7px 0 7px 100px;
}

/* line 90, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input[type="submit"] {
  color: green;
}

/* line 94, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h4 {
  margin: 0 auto;
  text-align: center;
  padding-top: 8em;
}

/* line 100, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.header-name {
  padding-right: 10%;
  float: left;
  margin-top: 30px;
  color: white;
}

/* line 107, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
header a:hover {
  color: #09E109;
}

/* line 111, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
header a {
  color: white;
}

/* line 115, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
button.header-button {
  display: flex;
  background: white;
  margin: 0 auto;
  margin-left: 5px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  margin-top: 35px;
  margin-right: 10px;
}

/* line 139, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
hgroup.header-group {
  width: 40%;
  display: flex;
  float: right;
  flex-direction: row;
  height: 100%;
  justify-content: space-around;
  background-color: transparent;
}

/* line 157, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
div#gigs-index {
  width: 75%;
  margin: 0 auto;
  margin-left: 250px;
}

/* line 163, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.header-name:hover {
  color: #09E109;
}

/* line 177, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
#gigs-index ul {
  list-style: none;
  background-color: aliceblue;
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: wrap;
}

/* line 204, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
#gigs-index ul li img {
  height: 130px;
  width: 222px;
}

/* line 223, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
#gigs-index ul li {
  width: 232px;
  height: 260px;
  margin: 0 20px 20px 0;
  padding: 0;
  float: left;
  border: 1px #e5e5e5 solid;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  margin-right: 40px;
  cursor: pointer;
}

/* line 255, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.nav-items {
  list-style: none;
  padding-left: 5px;
}

/* line 272, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.nav-bar {
  background-color: lightcoral;
  width: 150px;
  height: 300px;
  margin-left: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  position: fixed;
}

/* line 295, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#gaming {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 315, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#design {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 335, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#web-dev {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 355, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#art {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 10px 15px;
  display: flex;
  justify-content: center;
}

/* line 375, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li#writing {
  background-color: lightcyan;
  padding: 10px 5px;
  margin: 2px 15px;
  display: flex;
  justify-content: center;
}

/* line 395, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
div.main-home img {
  width: 100%;
  height: 400px;
  margin: 5px;
  border: 1px solid black;
}

/* line 414, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h4.category-header {
  padding-top: 10px;
}

/* line 430, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h1.gig-title {
  margin-left: 100px;
  border-bottom: 1px solid lightgray;
  width: 500px;
}

/* line 448, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-pic {
  margin-left: 100px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 500px;
  float: left;
  border-bottom: 1px solid lightgray;
  padding-bottom: 100px;
}

/* line 473, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
div.gig-pic img {
  width: 500px;
  height: 350px;
}

/* line 490, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-show-container {
  width: 1000px;
  margin-left: -40px;
}

/* line 507, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul {
  list-style: none;
}

/* line 523, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-price-info {
  float: right;
  width: 300px;
  position: relative;
  margin-right: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

/* line 547, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.gig-user-info {
  float: right;
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: flex-start;
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: aliceblue;
  margin: 10px;
  flex-direction: column;
}

/* line 572, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.purchase-button {
  border: 0;
  background: #5786c1;
  color: white;
  padding: 8px 14px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 0px #3a587f, 0px 1px #4171ae, 2px 1px #3a587f, 1px 2px #4171ae, 3px 2px #3a587f, 2px 3px #4171ae, 4px 3px #3a587f, 3px 4px #4171ae, 5px 4px #3a587f, 4px 5px #4171ae, 6px 5px #3a587f, 5px 6px #4171ae;
}

/* line 598, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.logout {
  margin-top: 22px;
}

/* line 614, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.header-name {
  line-height: 50px;
  margin-top: 20px;
}

/* line 630, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.new-gig-container {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  background-color: aliceblue;
  height: 1000px;
  margin-top: 90px;
  padding-left: 250px;
}

/* line 654, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.new-gig-form {
  display: flex;
  flex-direction: column;
}

/* line 671, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input.gig-field {
  display: block;
  margin: 0 20px 20px 20px;
  padding-right: 300px;
  padding-bottom: 10px;
  background-color: lightyellow;
}

/* line 691, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
textarea.gig-field {
  display: block;
  margin: 0 20px 20px 20px;
  padding-right: 275px;
  background-color: lightyellow;
  padding-bottom: 50px;
}

/* line 711, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.new-gig-form select {
  display: block;
  margin: 0 20px 20px 20px;
  padding: 5px;
  width: 100px;
}

/* line 730, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
input.new-gig-button {
  margin-left: 200px;
  padding: 10px;
  color: green;
}

/* line 746, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
img.cart-img {
  width: 170px;
  float: left;
  height: 120px;
  border: 2px solid black;
}

/* line 763, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.cart-item-list {
  display: flex;
  flex-direction: column;
  float: left;
  width: 75%;
}

/* line 780, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.cart-item-list li {
  margin: 0;
  border: 2px solid #ccc;
  padding: 10px;
}

/* line 796, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
p.cart-description {
  float: left;
  width: 300px;
  margin-left: 30px;
  height: 100%;
}

/* line 813, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.rev {
  float: right;
  padding: 10px;
}

/* line 828, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.delivery_time {
  float: right;
  padding: 10px;
}

/* line 842, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.remove-cart {
  float: right;
  padding: 10px;
}

/* line 855, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.cart-detial-options {
  display: flex;
  float: right;
  flex-direction: column;
  align-items: flex-end;
}

/* line 870, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h3.cart-title {
  margin: 0;
}

/* line 882, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.checkout-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 50px;
  bottom: 100px;
  background-color: #BCADAD;
  padding: 20px;
  border-radius: 10px;
  color: blue;
  border: 1px solid blue;
}

/* line 904, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button {
  display: inline-block;
  margin: 10px 10px 0 0;
  font-size: 30px;
  padding: 0 10px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

/* line 923, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
button:focus {
  outline: none;
}

/* line 934, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button {
  color: #fff;
  text-shadow: -2px 2px #346392;
  background-color: #ff96hi64;
  background-image: -webkit-linear-gradient(top, #6496c8, #346392);
  box-shadow: inset 0 0 0 1px #27496d;
  border: none;
  border-radius: 15px;
}

/* line 951, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button:hover {
  box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;
  color: #1BED2C;
}

/* line 963, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
section.gradient button:active {
  box-shadow: inset 0 0 0 1px #27496d,inset 0 5px 30px #193047;
}

/* line 973, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.right-side-checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  float: right;
}

/* line 987, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.keep-shopping {
  color: white;
  background-color: #346392;
  padding: 20px;
  font-weight: 600;
  font-size: 18px;
}

/* line 1001, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
a.keep-shopping:hover {
  background-image: -webkit-linear-gradient(bottom, #6496c8, #346392);
}

/* line 1011, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h1.username {
  font-size: 48px;
  border-bottom: 1px solid #ccc;
  padding-left: 5%;
}

/* line 1023, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
img.profile-pic {
  width: 200px;
  height: 200px;
  margin-left: 5%;
  float: left;
  border: 1px solid black;
}

/* line 1037, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: -30px;
}

/* line 1050, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.stats-header {
  display: flex;
  width: 100%;
  font-size: 36px;
  text-decoration: underline;
}

/* line 1063, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.stats-container {
  display: flex;
  border: 1px solid black;
  padding: 5px 50px 20px 50px;
  width: 100%;
  justify-content: space-between;
  margin-right: 20px;
}

/* line 1078, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h4.orders-stats {
  padding: 0;
}

/* line 1088, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h4.gig-views {
  padding: 0;
}

/* line 1098, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h4.profile-views {
  padding: 0;
}

/* line 1108, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.users-gigs-header {
  margin-left: 5%;
  margin-top: 50px;
  text-decoration: underline;
}

/* line 1120, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.users-gigs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* line 1132, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.users-gigs-list {
  display: flex;
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 20px;
  flex-direction: column;
  padding-left: 0;
}

/* line 1147, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
img.user-gig-img {
  width: 150px;
  height: 100px;
}

/* line 1158, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.left-side-user-gig {
  float: left;
  width: 15%;
}

/* line 1169, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.right-side-user-gig {
  margin-left: 100px;
  width: 50%;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  float: left;
}

/* line 1184, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
ul.users-gigs-list li {
  height: 180px;
  border-bottom: 1px solid #ccc;
  padding: 20px;
  background-image: -webkit-radial-gradient(#ccc, #eee);
}

/* line 1197, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.user-gig-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  float: right;
  margin-right: 20px;
  padding: 50px 20px 20px 20px;
}

/* line 1212, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.user-gig-links a {
  padding: 10px;
}

/* line 1221, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.user-gig-links a:hover {
  text-decoration: underline;
}

/* line 1227, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.profile-info {
  float: right;
  width: 75%;
}

/* line 1234, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.user-dashboard {
  display: block;
}

/* line 1240, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.dashboard {
  display: block;
}

/* line 1246, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.user-description {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -20px;
  margin-right: 20px;
  height: 104px;
}

/* line 1257, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h2.user-description-header {
  margin: 0;
  padding-left: 10px;
  margin-top: 20px;
}

/* line 1265, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
.user-description p {
  margin: 0 auto;
  margin-left: 20px;
  width: 80%;
}

/* line 1273, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
img.gig-user-pic {
  height: 100px;
  width: 100px;
  border: 1px solid purple;
}

/* line 1281, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
span.gig-username {
  float: left;
  width: 100%;
}

/* line 1288, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
h5.about-header {
  margin-bottom: 0;
}

/* line 1292, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
img.gig-user-pic:hover {
  border: 1px solid blue;
}

/* line 1296, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
span.gig-username:hover {
  text-decoration: underline;
}

/* line 1300, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
p.gig-user-description {
  overflow-y: auto;
}

/* line 1304, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li.gig-show-description {
  overflow-y: scroll;
}

/* line 1308, /home/yasin/Desktop/striverr/app/assets/stylesheets/application.scss */
li.gig-show-description h3 {
  margin-bottom: 0;
}

hgroup.header-group a {
    background-color: blue;
    padding: 0 20px;
    border-radius: 10px;
}

hgroup.header-group h2 {padding: 0;}
